@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  /*  */
}

.card-imagen {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.card-imagen .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-head {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.363);
}

.card-body {
  word-wrap: break-word;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 13px;
  text-align: center;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.card-icon {
  width: 25%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.card-icon .icon-imagen {
  width: 30px;
  height: 30px;
}
